<div class="root" langClass>
  <wc-btn-with-loading
    (click)="quickStart($event)"
    class="btn-new--spall btn-new--blue-filled"
  >
    {{ 'BUTTONS.QUICK_GAME' | translate}}
  </wc-btn-with-loading>
  <wc-btn-with-loading
    (click)="playComputer($event)"
    class="btn-new--spall btn-new--brown-border"
  >
    {{ 'BUTTONS.COMPUTER' | translate}}
  </wc-btn-with-loading>
  <button
    (click)="lobby($event)"
    class="btn-block"
    langClass
  >
    <div class="lobby-button">
      <div class="icon-row">
        <div class="icon">
          <img class="icon__img-elem icon__img-elem--lang-en" src="../../../../../../assets/images/beautiful-online-chess/lang-en/lobby-button.svg" alt="lobby">
          <img class="icon__img-elem icon__img-elem--lang-ru" src="../../../../../../assets/images/beautiful-online-chess/lang-ru/lobby-button.svg" alt="lobby">
        </div>
      </div>
    </div>
  </button>
</div>
