<div>
  <div class="block">
    <div class="row cup-row">
      <div class="svg-icon svg-cup-icon">
        <svg-cup></svg-cup>
      </div>
      <div class="cup-number">{{tournamentCount}}</div>
    </div>
    <div class="tour-count-title">
      {{ 'MESSAGES.TOURNAMENTS_MNTH' | translate}}
    </div>
    <div class="today">
      <a class="today__link"
         (click)="navigateToTournaments()"
      >{{tournamentTodayCount}} {{ 'OTHER.TODAY' | translate}} <span class="arrow">
        <svg-arrow-right class="icon"></svg-arrow-right></span>
      </a>
    </div>
  </div>
  <div class="block">
    <div class="row cup-row">
      <div class="cup-number">{{onlinePlayerCount ? onlinePlayerCount : cachedOnlinePlayerCount}}</div>
    </div>
    <div class="tour-count-title">
      {{ 'MESSAGES.PLAYERS' | translate}}
    </div>
  </div>
</div>
