<div class="root" *ngIf="tournament" [routerLink]="['/tournament', tournament && tournament.id]">
  <div class="image" [style.background-image]="'url('+(tournament.image || 'https://s3-wctour-ut-test.s3.amazonaws.com/media/tournament_images/18ee0021fbeac49e.png')+')'"></div>
  <div class="time">
    <div> {{ day$ | async }}</div>
    <div>{{ tournamentStartTime$ | async }}</div>
  </div>
  <div class="info">
    <div class="title">{{ getTournamentTitle() }}</div>
    <div class="details" *ngIf="tournament.time_control">
      {{ boardTypeTitle$ | async }}
      <ng-container *ngIf="!moment.duration(tournament.time_control.increment).asMilliseconds()">
        {{moment.duration(tournament.time_control.start_time).asMilliseconds() | wcDuration:'m': durationFormat}}<span style="font-size:0.5em">&nbsp;</span>{{ 'TIME.MIN' | translate}}
      </ng-container>
      <ng-container *ngIf="moment.duration(tournament.time_control.increment).asMilliseconds()">
        {{moment.duration(tournament.time_control.start_time).asMilliseconds() | wcDuration:'h m s': durationFormat}}<span style="font-size:0.5em">&nbsp;</span>
        +<span style="font-size:0.5em">&nbsp;</span>{{moment.duration(tournament.time_control.increment).asMilliseconds() | wcDuration:'h m s': durationFormat}}
      </ng-container>
    </div>
    <div class="details">
      <span class="details__icon" *ngIf="memberCounter$ | async as memberCounter">
        <div class="pie">
          <div class="pie__bg" [style.transform]="'rotate('+ memberCounter + 'deg)'"></div>
          <div class="pie__bg-half-black" *ngIf="memberCounter < 180"></div>
          <div class="pie__bg-half-white" *ngIf="memberCounter > 180"></div>
        </div>
      </span>
      <span class="details__text">{{onlineTournamentService.getSignedCount(tournament)}}</span>
      <span class="details__icon" *ngIf="tournament.rating_type === GameRatingMode.FIDERATED">
        <svg-logo-fide-mini class="icon"></svg-logo-fide-mini>
      </span>
      <ng-container *ngIf="countryName$ | async as countryName">
        <span class="details__icon"><svg-country-arrow class="icon"></svg-country-arrow></span>
        <span class="details__text">{{countryName | countryTranslate}}</span>
      </ng-container>
      <ng-container *ngIf="!(countryName$ | async)">
        <span class="details__icon"><svg-worldwide class="icon"></svg-worldwide></span>
        <span class="details__text">{{ 'OTHER.WORLDWIDE' | translate}}</span>
      </ng-container>
    </div>
  </div>
</div>
