@import 'variables';
@import 'media';

.button {
  position: relative;
  color: $black;
  background-color:$white;
  font: 300 18px/20px $gerbera-font;
  border-radius: 3px;
  min-height: 40px;
  min-width: 279px;
  padding: 10px 20px;
  outline: none;
  z-index: 100;

  @include phones {
    width: 100%;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
