<footer class="footer">
    <ul class="social">
        <li class="social__elem">
            <a target="blank" href="https://twitter.com/theworldchess" class="social__link">
                <svg-twitter class="social__icon"></svg-twitter>
            </a>
        </li>
        <li class="social__elem">
            <a target="blank" href="https://www.facebook.com/theworldchess" class="social__link social__icon--facebook">
                <svg-facebook class="social__icon social__icon--facebook"></svg-facebook>
            </a>
        </li>
        <li class="social__elem">
            <a target="blank" href="https://www.instagram.com/theworldchess" class="social__link social__icon--instagram">
                <svg-instagram class="social__icon"></svg-instagram>
            </a>
        </li>
    </ul>
    <div class="links">
        <div class="links__block">
            <div class="links__cell">
                <a href="https://www.notion.so/worldchess/Privacy-Policy-for-FIDE-Online-Arena-and-worldchess-com-website-470e3c8fdc9148f49611e66df8a25448"
                   target="_blank" class="links__link">Privacy Policy</a>
                <a href="https://desk.zoho.eu/portal/worldchess/en/home"
                   target="_blank" class="links__link">Arena FAQ</a>
            </div>
            <div class="links__cell">
                <a href="https://www.notion.so/FIDE-Online-Arena-Titles-045a5cbfb0994e0b9c04e05ee44c0491"
                   target="_blank" class="links__link">FIDE Online Titles</a>
                <a href="https://www.notion.so/Fair-Play-Policy-66fcda18e0544bd0b38cc3b82ee012f0"
                   target="_blank" class="links__link">Fair Play Policy</a>
            </div>
        </div>
        <div class="links__block">
            <div class="links__cell">
                <a href="https://www.notion.so/Terms-Conditions-a024d55795cd451697aad502e9e07693"
                   target="_blank" class="links__link">Terms</a>
                <a href="mailto:support@worldchess.com" class="links__link">Support</a>
            </div>
            <div class="links__cell">
                <a href="https://www.notion.so/About-FIDE-Online-Arena-c53fb68de5dc49c188e7c0c03bc44fa6"
                   target="_blank" class="links__link">About</a>
            </div>
        </div>
    </div>
    <div class="logo">
        <svg-logo-mts class="logo__icon"></svg-logo-mts>
        <svg-logo-mts-line class="logo__icon--line"></svg-logo-mts-line>
    </div>
</footer>
