<div class="promo-mts" *ngIf="displayBlock">
  <div class="promo-mts__col promo-mts__col--logo">
    <svg-logo-mts class="promo-mts__logo"></svg-logo-mts>
  </div>
  <div class="promo-mts__col">
    <div class="promo-mts__title">
      МТС – официальный партнер шахматного <span class="promo-mts__nowrap">онлайн-гейминга</span> в России
    </div>
    <div class="promo-mts__desc">
      Компания МТС приглашает принять участие в еженедельных турнирах МТС Move и специальной активации МТС Challenge. 
      Победителей ждут призы и шанс получить бесплатную годовую подписку World Chess Pro.
    </div>
    <div class="promo-mts__button">
      <a class="btn-new" href="https://worldchess.com/mts">Узнать больше</a>
    </div>
  </div>
</div>
